.container {
    background-image: "traintracks.jpg";
}

#jumbotron {
    text-align: center;
}

#text-center {
    color: white;
    font-family: Verdana, "Times New Roman", serif;
    font-size: 60px;
    padding-bottom: 40px;
}

#text-sub {
    font-size: 24px;
    color: white;
    font-family: cursive, "Times New Roman", serif;
    text-transform: uppercase;
    padding-bottom: 40px;
}

.panel-heading {
    margin-bottom: 20px;
    padding: 80px;
}

th {
    color: #000042;
}

.panel-body {
    color: red;
    margin-right: 20px;
    text-align: left;
}

#panel-title {
    color: #000042;
    text-align: center;
    font-family: Verdana, "Times New Roman", serif;
    margin-bottom: 30px;
}

#panel-name {
    color: #000042;
    text-align: center;
    font-family: Verdana, "Times New Roman", serif;
}

input[type=text] {
    border: 2px solid white;
    border-radius: 4px;
    background-color: #000042;
    color: white;
}

label {
    padding-right: 500px;
    padding-top: 5px;
    line-height: 20px;
    text-align: left;
    color: #000042;
}

button [type=submit] {
    margin-left: 20px;
}
